h1{
    color:red;
    border: solid;
    border-color: green;
    font-family:Courier New, Courier, 'monospace' ;
}

.header{
    display:flex;
    justify-content: space-between;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
.project{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}